extends ./commom.pug
block content
  header
  h1 Child's Dream - BOOK
  a( href='/book.jpg', target='_blank')
    img.bookAvatar(src='/book.jpg')
  br
  a.btn.btn-primary(href='/books/create') Create
  br
  br
  form(action="/books/search" , method="GET").form-group.d-flex
    input(type='text', placeholder='Search here', name="title", style="width:200px;margin-right:30px").form-control
    button(class="btn btn-primary") Search
  a(href="/books").btn.btn-primary
    | Show All  
  br
  .books
    .row
      each item in books
        .col-lg-3.col-sm-6.col-12.wrapper-row
          .wrapper-book
            .img-book
            .details
              h4= item.title
              p= item.desc
              .more-option
                a.btn.btn-secondary(href="/books/" + item.id) Delete
                a.btn.btn-light(href="/books/edit/" + item.id) Edit
                a.btn.btn-primary(href="/books/view/" + item.id + "?page=" + currentPage) View
  .footer-book
    a.log-out.btn.btn-primary(href="/login") Log Out
    nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          a.page-link.page-number(href=`/books?page=${pagenation[0]}`)= pagenation[0]
        li.page-item
          a.page-link.page-number( href=`/books?page=${pagenation[1]}`)= pagenation[1]
        li.page-item
          a.page-link.page-number(href=`/books?page=${pagenation[2]}`)= pagenation[2]
        li.page-item
          a.page-link.page-number(href=`/books?page=${pagenation[3]}`)= pagenation[3]
        li.page-item
          a.page-link.page-number(href=`/books?page=${pagenation[4]}`)= pagenation[4]
